body {
	font-family: Arial, sans-serif;
	background: url("../assets/background_img.png") no-repeat center center;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
}

.contact-form-container {
	background: transparent;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
	backdrop-filter: blur(10px);
	width: 400px;
}

.contact-form-container h2 {
	margin-bottom: 20px;
	font-size: 24px;
	color: #cb00f4;
	text-align: center;
}

.form-group {
	margin-bottom: 15px;
}

.form-group label {
	display: block;
	margin-bottom: 5px;
	color: #cb00f4;
}

.form-group input,
.form-group textarea {
	width: 80%;
	padding: 10px;
	border: 1px solid #cb00f4;
	border-radius: 10px;
	background-color: #f5f5f5;
	backdrop-filter: blur(5px);
}

.form-group input:focus,
.form-group textarea:focus {
	border-color: #cb00f4;
	outline: none;
	box-shadow: 0 0 5px rgba(128, 0, 128, 0.5);
}

button {
	width: 50%;
	padding: 10px;
	border: none;
	border-radius: 10px;
	background-color: #cb00f4;
	color: white;
	font-size: 16px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

button:hover {
	background-color: #4b0082;
}
